html{
	scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Montserrat", sans-serif;
}

header {
  background: antiquewhite;
  padding: 1rem 0;
}

#about-me {
  background: rgb(206, 231, 183);
}
#about {
  background: rgb(228, 174, 201);
}
#graphics {
  background: rgb(112, 206, 212);
}

.gallery .description{
  background: rgba(127, 255, 212,.8);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.gallery img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.gallery .cell{
	position: relative;
}

.gallery .cell:hover .description{
  opacity: 1;
}

/* #contact{

} */

.interested {
  background: rgb(233, 153, 193);
}
.email {
  background: rgb(136, 214, 219);
}

.work{
  background: rgb(206, 231, 183);
}


/* Wszystkie elementy które mają atrybut id są ukrywane */
[id]{
	display: none;
}

/* Wywołany element ma ustawić się jako blok czyli jak w linku jest #about to id="about" dostanie display:block */
:target{
	display: block;
}