html{
	scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Montserrat", sans-serif;
}

header {
  background: antiquewhite;
  padding: 1rem 0;
}

#about-me {
  background: rgb(183, 231, 213);
}
#about {
  background: rgba(107, 192, 207, 0.849);
}
#graphics {
  background: rgb(14, 166, 177);
}
.sentence{
  background: rgb(65, 168, 175);
}

.gallery .description{
  background: rgba(127, 255, 212,.8);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.gallery img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.gallery .cell{
	position: relative;
}

.gallery .cell:hover .description{
  opacity: 1;
}

/* #contact{

} */

.interested {
  background: #6b92b3
}
.email {
  background: rgb(136, 214, 219);
}

.work{
  background: rgba(150, 245, 205, 0.568);
}
.touch{
  background: rgba(135, 202, 204, 0.589);
}


/* Wszystkie elementy które mają atrybut id są ukrywane */
[id]{
	display: none;
}

/* Wywołany element ma ustawić się jako blok czyli jak w linku jest #about to id="about" dostanie display:block */
:target{
	display: block;
}